<div class="intro">

    <div class="intro-text"> 
    <h2>Log into PlantSwap</h2>
  <p></p>

<form id="form" class="login-form" action="/auth/login" method="POST">
  <label for="username">User name</label><br />
  <input type="text" name="username" />
  <br>
  <label for="password">Password</label><br />
  <input type="password" name="password" />

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}
<br>


<div class="signup-form-buttons">
  <button style="font-size: 1.2rem;" type="submit">Log in</button>

    <a class="signup-cancel"  style="color:black; font-size: 1.2rem;" href="/">Cancel</a> 
</div>

   {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}
</form>

</div>
