<div class="intro">
    <div class="intro-text"> 
    <h2>Sign Up for PlantSwap</h2>
  
​
<form id="form" action="/auth/signup" method="POST" class="signup-form"> 
  <label for="username">User name</label><br />
  <input type="text" name="username" />
<br>
 <label for="email">Email</label><br />
  <input type="text" name="email" />
<br>
  <label for="password">Password</label><br />
  <input type="password" name="password" />
<br>
  <label for="country">Country</label><br />
  <input type="country" name="country" />
<br>
  <label for="city">City</label><br />
  <input type="city" name="city" /><br />
 <label for="zip">Postal code</label><br />
  <input type="zip" name="zip" /><br />
   <label for="street">Street</label><br />
  <input type="street" name="street" /><br />
   <label for="house">House Number</label><br />
  <input type="house" name="house" />
<br>

  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}
<br>
  <div class="signup-form-buttons">
    <button type="submit">Signup</button>
    <a class="signup-cancel" href="/">Cancel</a> 
  </div>
</form>
