<div class="intro">
    <div class="intro-text"> 
    <h2>Sign Up for PlantSwap</h2>
​
<form id="form" action="/auth/signup" method="POST">
  <label for="username">User name</label><br />
  <input type="text" name="username" />
<br>
  <label for="password">Password</label><br />
  <input type="password" name="password" />
<br>
  <label for="country">Country</label><br />
  <input type="country" name="country" />
<br>
  <label for="zip">Postal code</label><br />
  <input type="zip" name="zip" />

  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}}
<br>
  <div class="intro-buttons">
    <button type="submit">Signup</button>
    <button class="cancel" href="/">Cancel</button> 
  </div>
</form>
