<h1>{{title}}</h1>
<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>
<a href="/plants/index">Go to All Plants</a>
{{#if user}}
<a href="/plants/myplants">Go to My Plants</a>
<a href="/auth/logout">Logout</a>
{{else}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{/if}}