<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '611880736200361',
      cookie     : true,
      xfbml      : true,
      version    : 'v7.0'
    });  
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<h1>{{title}}</h1>
<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>

{{#if user}}
<a href="myplants">Go to My Plants</a>
<a href="/auth/logout">Logout</a>
{{else}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{/if}}