<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '611880736200361',
      cookie     : true,
      xfbml      : true,
      version    : 'v7.0'
    });  
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="intro">
<div class="intro-text"> 
<h1>Welcome to PlantSwap {{#if user}}{{user.username}}{{/if}} ❤️</h1>
<p>Exchange and share your plants with other plant lovers</p>
</div> 
 

<div class="intro-buttons">
{{#if user}}
<a href="/plants/myplants">Go to My Plants</a>
<a href="/auth/logout">Logout</a>
{{else}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{/if}}
</div>