<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="icon" type="image/png" href="/img/plantswap-logo.png"/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
</head>
<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>