<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantSwap - Exchange and Share your Plants</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="icon" type="image/png" href="/img/plantswap-logo.png"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
</head>
<body>

      
 <nav>  

   <div class="topnav" id="myTopnav">
    <ul class="menu-header">
 {{#if user}}
      <li class='username'>Hi, {{user.username}} ❤️</li>
        
        
         <li><a href='/plants/index'>Find Plants</a></li>
        <li><a href='/plants/add'>Add Plant</a></li>
        <li><a href='/plants/myplants'>My Plants</a></li>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/auth/logout'>Log Out</a></li>
 
         {{else}}
        <li> <a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        {{/if}}
        
   
    </ul>

    </div>
</nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
 
</body>
</html>