{{#with user}}
<div class="intro">
    <div class="intro-text"> 
    <h2>Edit your data, {{name}} </h2>
<form id="form" action="profile/edit/{{_id}}" method="POST" class="signup-form"> 
  <label for="country">Country</label><br />
  <input type="country" name="country" />
<br>
  <label for="city">City</label><br />
  <input type="city" name="city" /><br />
 <label for="zip">Postal code</label><br />
  <input type="zip" name="zip" /><br />
   <label for="street">Street</label><br />
  <input type="street" name="street" /><br />
   <label for="house">House Number</label><br />
  <input type="house" name="house" />
<br>
  <div class="signup-form-buttons">
    <button type="submit">Save changes</button>
    <button class="cancel" href="/">Cancel</button> 
  </div>
</form>
{{/with}}