    /* GENERAL */
    
    html {
        font-family: 'Poppins', sans-serif;
        background-image: url('../images/plant-bg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-color: lightgreen;
    }
    
    .header1 {
        margin-left: 5%;
        margin-bottom: 3%; 
        font-size: 2.5rem;
        display: block;
        align-self: center;
    }
    
    .intro {
        margin-top: 5%;
        margin-left: 23%;
        margin-right: 23%;
        padding: 5%;
        background-color: rgba(253, 253, 253, 0.8);
         
    }
    
    .intro-text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    
    h1 {
        font-size: 3em;
        font-weight: 400;
        margin-bottom: -10px;
    }
    
    h2 {
        font-size: 2em;
        font-weight: 400;
        margin-bottom: -10px;
    }

    h3{

        font-size: 1.5em;
        font-weight: 400; 
        margin-left:15%;
        margin-bottom: -10px;
    }
    
    p {
        font-size: 1.5em;
        font-weight: 300;
    }
    
    nav {
        background-color: rgba(253, 253, 253, 0.8);
        color: darkslategrey;
        overflow: hidden;
    }
    
    nav>.topnav>ul>li {
        list-style: none;
        margin: 2%;
    }
    
    .menu-header {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: flex-end;
        font-size: 1.2rem;
    }
    
    @media only screen and (max-width: 768px) {
        [class="menu-header"] {
            font-size: 1rem;
        }
    }

    .topnav{
        display:flex;
        justify-content: space-around;
    }


    nav > .topnav > .username {
        margin-top: 40px;
        font-size: 1.2rem;
        font-weight: 400;
    }

    nav>.topnav>ul>li>a {
        text-decoration: none;
        color: inherit;
    }
    
    nav>.topnav>ul>li>a:hover {
        background-color: lightgreen;
    }
     

    nav>.topnav>ul {
        width:40%;
    }
    nav>.topnav>ul>li {
        width:100%;
    }
    
    .map-box {
        width: 600px;
        height: auto;
        display: flex;
        align-self: center;
    }
    
    @media only screen and (max-width: 880px) {
        [class="map-box"] {
            width: 400px;
            height: auto;
        }
    }
    
    @media only screen and (max-width: 600px) {
        [class="map-box"] {
            width: 200px;
            height: auto;
        }
    }
    
    .map {
        width: 100%;
        height: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

/* How It Works */

.how-it-works {
    display:flex;
    
}

.how-it-works > .container > i {
    font-size:3.5rem; 
    text-align: center;
    color:darkgreen;
}

.container{
    text-align: center;
}

    /* AUTHENTICATION */
    
    .intro-buttons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    
    .intro-buttons>a {
        margin: 10px;
        border: none;
        background-color: lightgreen;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4em;
        font-weight: 300;
        width: 30%;
        text-decoration: none;
        text-align: center;
    }
    
    .intro-buttons>button {
        margin: 10px;
        border: none;
        background-color: lightgreen;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4em;
        font-weight: 300;
        width: 50%;
    }
    
    .intro-buttons>.cancel {
        margin: 10px;
        border: lightgreen solid 1px;
        background-color: white;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4em;
        font-weight: 300;
        width: 50%;
    }
    
    .signup-form {
        font-size: 1.1rem;
        font-weight: 300;
    }
    
    .signup-form-buttons {
        display: flex;
        margin-left: -3%;
    }
    
    .signup-form-buttons>button {
        margin: 10px;
        border: none;
        background-color: lightgreen;
        width: 5em;
        height: 1.5em;
        text-decoration: none;
        text-align: center;
        font-weight: 300;
        font-size: 1.4rem;
    }
    
    .signup-cancel {
        margin: 10px;
        border: 1px lightgreen solid;
        background-color: white;
        width: 5em;
        height: 1.5em;
        text-decoration: none;
        text-align: center;
        font-weight: 300;
        font-size: 1.4rem;
    }
    
    input {
        margin-bottom: 4%
    }
    
    /* PLANT DETAILS  */
    
    .plant-details {
        background-color: white;
        width: 60%;
        font-size: 0.7rem;
        margin-left: 20%;
        height: 400px;
        padding-top: 1%;
        margin-top: 5%;
    }
    
    .plant-details-size-owner {
        display: flex;
        justify-content: center;
        font-size: 0.7rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
    }

    .plant-details-size-owner > p > a {
        text-decoration: underline lightgreen;
        color: black;
    }
    .plant-details-size-owner > p > a:hover{
     
            background-color: lightgreen;
    }
    
    .contact-button{
        text-decoration: none;
        font-weight: 300;
        background-color: lightgreen;
        color:black;
        padding:1%;
    }

    .plant-details-description {
        text-align: center;
        font-size: 0.7rem;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .my-plant-image {
        width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .edit-plant-buttons{
        display:flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    .edit-plant-edit {
        border: lightgreen solid 1px;
        background-color: lightgreen;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }
    
    .edit-plant-delete {
        border: lightgreen solid 1px;
        margin-left: 5%;
        background-color: white;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }
    
    .plant-address {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: -2%;
    }
     
    
    .plants-box {
        width: auto;
        height: auto;
        background-color: rgba(253, 253, 253, 0.85);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 15%;
        margin-right:15%;
    }


    /* MY PLANTS AND FIND PLANTS  */

    .add-plant-button {


        border: lightgreen solid 1px;
        background-color: lightgreen;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        text-decoration: none;
        text-align: center;
        width: auto;
        display: flex;
        align-self: center;
        margin-bottom: 5%;
        padding:1%;

    }
    
    .single-plant-header { 
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: inherit;  
    } 
    
    .single-plant-details { 
        font-size: 1rem;
    } 
     
    
    .all-plants {
        
        padding:10%;

    }
    
    .all-plants>p>a {
        text-decoration: underline lightgreen;
        color: black;
    }
    
    .all-plants>p>a:hover {
        background-color: lightgreen;
    }

    .search {
        width:70%;
        height:40px;
        display: flex;
        align-self: center;
        background-color: white;
        border: none;
        padding-left: 5% ;
        opacity: 0.8;
        
    }

    .search::placeholder {  
        color: darkgreen;
        opacity: 1;  
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
      }
      
      .search-button {

        border: none;
        background-color: lightgreen;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        width:auto;
        margin-bottom: 5%;
      }
  
    .search-results{
        display:flex;
        justify-content: space-around;
    }

    .plant-list{
        padding-left:2%;
    }
    .search-results > .plant-list > .single-plant-details >  a{
    text-decoration: none;
    color:black;

    }

    .search-results > .plant-list > .single-plant-details >  a:hover{
    background-color: lightgreen;
    }


      .search-map {
        max-width: auto; 
        height: 500px;
        margin-bottom: 5%;
      }



    @media only screen and (max-width: 2000px) {

        [class="search-results"]{
            display: block;
        }

    }
    
    @media only screen and (max-width: 600px) {
      
    }

    div.mapboxgl-marker.mapboxgl-marker-anchor-center{
    
          
    }

    div.mapboxgl-marker.mapboxgl-marker-anchor-center > svg {
        
        
    }

    div.mapboxgl-popup { 
    }
   

    div.mapboxgl-popup-tip{
        display: none;
    }



    div.mapboxgl-popup-content{
        background-color: rgba(144, 238, 144, 0.8);
        padding: 5% 5% 5% 5%;
        width:100%;
    }
    
    .mapboxgl-popup-content > a {
        text-decoration: none;
        color:black;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        
    }

    .mapboxgl-popup-content > p {
         color:black;
        font-size: 0.7rem;
        font-family: 'Poppins', sans-serif;
        
    }


    /* PLANT FORM */
     
.plant-form{

padding: 1% 10% 2% 10%;
margin-left:10%;
margin-right:10%;
background-color: rgba(253, 253, 253, 0.8);
margin-bottom: 3%;
 
}
 


.plant-form-description {
    border: none;
    font-family: 'Poppins', sans-serif;
    max-width: 90%;
    background-color: transparent;
    border: 1px solid lightgreen;
    margin-top:3%;
    font-weight: 300;
    padding:1%;
}


 
.plant-form-buttons{
display: flex ;
justify-content: center;
}

textarea { resize: none; }
 
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid lightgreen;
    border-radius: 2px;
    margin-right: 2rem;
    margin-bottom: 3%;
    padding: 0.5rem;
    padding-right: 2rem;
  }
 


.plant-form-save{

    border: 1px solid lightgreen;
    background-color: lightgreen;
    color: darkslategrey;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin-top: 2%;
    width: auto;
    margin-right:2%;
}


.plant-form-cancel{

    border: 1px solid lightgreen;
    background-color: white;
    color: darkslategrey;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin-top: 2%;
    padding:1px 35px;
}



     
    /* USER PROFILE */
    
    .user-data {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:5%;
    }
    
    .profile-edit {
        border: 1px solid lightgreen;
        background-color: lightgreen;
        color: darkslategrey;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4em;
        font-weight: 300;
        text-decoration: none;
        text-align: center;
        margin-top: 2%;
    }

    .users-plants{
        margin-left:15%
    }

    .users-plants >p >a{
        text-decoration: underline 1px lightgreen;
        color:black;
        font-weight: 600;
    } 

    .users-plants >p >a:hover{

        background-color: lightgreen;
    }
    .users-plants-description{
        font-size:0.7em;
        margin-top:-2%;
        margin-left: 3%;
    }

    .profile-contact-button{

        text-decoration: none;
        font-weight: 300;
        background-color: lightgreen;
        color:black;
        padding:1%;
        font-size: 1rem;
        display:flex;
        align-self: center;
        width: auto;

    }

    .profile-map{
       width: 400px; 
       height: 300px;
       margin-top: 3%;
       margin-bottom: 5%; 
       margin-left:20%;
    }

    /* EDIT USER PROFILE */
    
    .signup-form-buttons>.edit-user-profile-cancel {
        margin: 10px;
        border: 1px lightgreen solid;
        background-color: white;
        width: 5em;
        height: 1.5em;
        text-decoration: none;
        text-align: center;
        font-weight: 300;
        font-size: 1.4rem;
    }
    
    .edit-profile-header {
        margin-bottom: 5%;
    }
    
    .plants-box-ext-user {
        width: 70%;
        height: auto;
        background-color: rgba(253, 253, 253, 0.85);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 15%;
    }