html {
    font-family: 'Poppins', sans-serif; 
     
  
 background-image: url('/images/plant-bg.jpg');
    background-repeat: no-repeat;
    
  background-attachment: fixed;
  background-position: center center;
  
  background-size: cover;
  background-color:lightgreen;
}
 
 
.intro {
    
    margin-top:15%; 
    margin-left:23%;
    margin-right:23%;
    padding-bottom:2%;
    background-color:rgba(253,253,253, 0.8);
    padding:15px;
    
}
.intro-text {
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;

}
 

h1 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: -10px;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: -10px;
}

p {
   font-size: 1.5em;
   font-weight: 300;
}

.intro-buttons {
    display: flex; 
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch; 
}

.intro-buttons > a {
    margin: 10px; 
    border:none;
    background-color: lightgreen;
    color:darkslategrey;
    font-family: 'Poppins', sans-serif;
    font-size:1.4em;
    font-weight: 300;
    width:30%;
    text-decoration: none;
    text-align: center;
}

.intro-buttons > button {
    margin: 10px; 
    border:none;
    background-color: lightgreen;
    color:darkslategrey;
    font-family: 'Poppins', sans-serif;
    font-size:1.4em;
    font-weight: 300;
    width:50%; 
}

.intro-buttons > .cancel {
    margin: 10px; 
    border:lightgreen solid 1px;
    background-color: white;
    color:darkslategrey;
    font-family: 'Poppins', sans-serif;
    font-size:1.4em;
    font-weight: 300;
    width:50%;
}

.signup-form {

    font-size: 1.1rem;
    font-weight: 300;
    
}
.signup-form-buttons{

    display: flex;  
    margin-left:-3%;
}

.signup-form-buttons > button {
        margin: 10px; 
        border:none;
        background-color: lightgreen;
        width:5em;
        height:1.5em;
        text-decoration: none;
        text-align: center;
        font-weight: 300;
        font-size:1.4rem;

} 

input { 
    margin-bottom: 4%
 }


 nav { 
    background-color:rgba(253,253,253, 0.8);
    color:darkslategrey;
}

nav > ul {
    display:flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;

    
}
nav > ul > li {
    list-style: none;
    margin: 2%;
    font-size: 1.3rem;
    @media only screen and (max-width: 1000px){
        font-size:0.5rem;
    }
}

.myplants { 
    width:70%;
    height:700px;
    background-color:rgba(253,253,253, 0.85);
    display:flex;   
    justify-content: space-around;
    margin-left:15%;
   
}
 