  
<form action="/plants/index" method="post">
    <label for="species">Species: </label>
    <input type="text" name="species" id="species">

    <label for="size">Size: </label>
    <input type="text" name="size" id="size">

    {{!-- <select name="size" id="">
        {{#each sizes}}
        <option value="{{this._id}}">{{this.name}} {{this.lastName}}</option>
        {{/each}}
    </select> --}}

    <label for="description">Description: </label>
    <input type="textarea" name="description" id="description">

    <button type="submit">Add a plant</button>
</form>