
    <div class="plants-box">    
    <h1 class="header1">My Plants</h1>

    
    {{#each plants}}
<p class = "list-entry">
<a  class="single-plant-header" href="/plants/{{this._id}}">{{this.species}}</a>
{{!-- <form action="/movies/{{this._id}}/delete" method="post">
    <button type="submit">Delete from Database</button>
</form> --}}
<p>  </p>

</p>
{{/each}}

</div>