
     
 <nav> 
        <ul>
            <li href="#">Find Plants</li>
            <li>My Plants</li>
            <li>Profile</li>
            <li>Log Out</li>
        </ul>
    </nav> 
    <div class="myplants">
        
    <h2>My Plants</h2>
    {{#each plants}}
<p class = "list-entry">
    {{this.species}}
{{!-- <a href="/plants/index/{{this._id}}">some entry</a> --}}
{{!-- <form action="/movies/{{this._id}}/delete" method="post">
    <button type="submit">Delete from Database</button>
</form> --}}
</p>
{{/each}}
    </div>

  </body>
 </html>