

<div class="plant-details">

{{#with plant}}
<h1 style="text-align: center;">{{species}}</h1>

<div class="plant-details-size-owner">
<p>{{size}}</p>
<p>by {{user.username}}</p>
</div>
<div class="plant-details-description">
<p>{{description}}</p>
</div>

{{/with}}

</div>